@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.full-height-map {
  border-radius: 20px;
}
/* Desktops and large laptops: 1025px to 1280px */
@media (min-width: 1025px) {
  .full-height-map, .border-wrapper {
    height: 500px;
    width: 1000px;

  }
}

/* Large tablets and small laptops: between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .full-height-map, .border-wrapper {
    height: 500px;
    width: 760px;
  }
}

/* Tablets: between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .full-height-map, .border-wrapper {
    height: 300px;
    width: 480px;
  }
}

/* Mobile phones: up to 480px */
@media (max-width: 480px) {
  .full-height-map, .border-wrapper {
    height: 200px;
    width: 300px;
  }
}

.label-on-map{
  background-color:  rgba(255,255,255,0.4);
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 500;
  height: 100px;
  font-family: 'Fredoka', sans-serif;

}
.leaflet-icon{
  background-color: transparent;
}
.global-background{
  background-image: url('/bg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
  position: relative;
  display: flex;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .global-background {
    position: relative;
    overflow: hidden;
  }
  .global-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
    pointer-events: none;
  }
}


.performance-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 300px;
  gap: 6px;
  padding: 16px;
}
.map-wrapper{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 8px;
}

.border-wrapper{
  margin-bottom: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 16px; /* spacing between items */
  width: 100%;
  justify-items: center; /* center items horizontally */
  align-items: center; /* center items vertically */
  margin-bottom: 20px;;
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  color:#010808;
  font-size: 1rem;
}
