@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:  255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb:  255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.full-height-map {
  border-radius: 20px;
}

/* Desktops and large laptops: 1025px to 1280px */
@media (min-width: 1025px) {

  .full-height-map,
  .border-wrapper {
    height: 500px;
    width: 1000px;

  }
}

/* Large tablets and small laptops: between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

  .full-height-map,
  .border-wrapper {
    height: 500px;
    width: 760px;
  }
}

/* Tablets: between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {

  .full-height-map,
  .border-wrapper {
    height: 300px;
    width: 480px;
  }
}

/* Mobile phones: up to 480px */
@media (min-width: 360px) and (max-width: 480px) {

  .full-height-map,
  .border-wrapper {
    height: 220px;
    width: 358px;
  }
}
/* Mobile phones: up to 480px */
@media (max-width: 359px) {

  .full-height-map,
  .border-wrapper {
    height: 200px;
    width: 300px;
  }
}


/* Desktops and large laptops: 1025px to 1280px */
@media (min-width: 1025px) {

  .description-wrapper {
    width: 1000px;
    height: auto;

  }
}

/* Large tablets and small laptops: between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {

  .description-wrapper {
    width: 760px;
    height: auto;

  }
}

/* Tablets: between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {

  .description-wrapper {
    width: 480px;
    height: auto;

  }
}

/* Mobile phones: up to 480px */
@media (min-width: 360px) and (max-width: 480px) {

  .description-wrapper {
    width: 358px;
    height: auto;
  }
}
/* Mobile phones: up to 480px */
@media (max-width: 359px) {

  .description-wrapper {
    width: 300px;
    height: auto;

  }
}

.description-wrapper {
  margin: 10px;
}

.label-on-map {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 12px;
  top: 10px;
  z-index: 500;
  height: 100px;
  font-family: 'Fredoka', sans-serif;
  border-radius: 5px;
  padding: 2px;
}

.leaflet-icon {
  background-color: transparent;
}

.global-background {
  background-image: url('/bg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  position: relative;
  display: flex;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .global-background {
    position: relative;
    z-index: 1;
  }

  .global-background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
    pointer-events: none;
  }
}

.performance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 300px;
  height: auto;
  gap: 6px;
  padding: 16px;
}

.map-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.border-wrapper {
  margin: 10px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-wrapper div {
  border-radius: 20px !important;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  height: auto;

  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  ;
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  color: #010808;
  font-size: 1rem;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;

}

.leaflet-touch .leaflet-bar a {
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
}

.fullscreen-button { 
  background-image: url('/full-screen.png')!important;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 12px;
  top: 80px;
  z-index: 500;
  height: 30px;
  width: 30px;
  height: auto;

  font-family: 'Fredoka', sans-serif;
  border-radius: 2px;
  padding: 2px;
}

.leaflet-control-scale-line {
  background-color: rgba(255, 255, 255, 0.6)!important;
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  text-shadow: none!important;
}




.fullscreen-sim {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  width: 100vw !important;
  height: 100vh !important;
  z-index: 99999;
}


.react-photo-album--masonry .react-photo-album--photo {
  background-color: rgb(255, 255, 255);
}

.photo-date{
text-align: right;
font-size: 1rem;
padding-top: 2px;
font-style: italic!important;
}

.phot-upload-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.sceleton-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;

}

.description-container{
  padding: 10px;
  text-align: center;
}

.flexbox-horizontal-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

}

.flexbox-vertical-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  color: #1e88e5;
  text-decoration: underline;
}

.note {
  font-size: 0.7rem;
  font-style: italic  ;
  margin-top: 10px;
}

.gauge-container {
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  gap: 6px;
  padding: 16px;
  margin-bottom: 20px
}

.scroll-down-button {
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  z-index: 999;
}
